%table
  %caption
    %h2 Hosting
    - if @events_as_host.any?
      - @events_as_host.each do |event|
        %tr
          %td
            = link_to event.name, event
    - else
      %tr
        %td Hosting no events
%table
  %caption
    %h2 Invitations
    %tr
      %th Responded to
    - if @event_choices.any?
      - @event_choices.each do |choice|
        %tr
          %td
            = link_to choice.event.event_suggestion.name, choice.event.event_suggestion
    - else
      %tr
        %td Responded to no events