%h4 #{link_to "+ Create an event", new_event_suggestion_path}

%table.table.table-bordered
  %caption
    %h2 Hosting
    - if current_user.events_as_host.any?
      - current_user.events_as_host.each do |event|
        %tr
          %td
            = link_to event.name, event
    - else
      %tr
        %td Hosting no events

%table.table.table-bordered
  %caption
    %h2 Invitations
    %tr
      %th Responded to
    - if @events_responded_to
      - @events_responded_to.each do |event|
        %tr
          %td
            = link_to event.name, event
    - else
      %tr
        %td No responses
    %tr
      %th Pending
    - if @events_pending
      - @events_pending.each do |event|
        %tr
          %td
            = link_to event.name, event
    - else
      %tr
        %td No pending events