- content_for :home do
  .container-fluid#splash_page_image
    %div
  .jumbotron
    .container
      %h1#home_title dinnerordrinks
      %p Because meeting up should be that simple
      
      =link_to "Get started", new_user_registration_path, class: "btn btn-primary btn-lg", role:"button", id: 'home_signup_button' 