.row
  .col-xs-12.col-sm-6.col-md-6
    %h2 #{@venue.name}
    %h2
      %small
        #{@venue.address}
    = link_to "Edit", edit_event_venue_path(@event_venue)
    = link_to 'Delete', @event_venue, method: :delete, data: { confirm: 'Are you sure?' }