#map-canvas {
  height: 30em;
  width: 100%;
}

.btn-group-vertical.event_list {
  width: 100%;
}

.divider {
  height: 1px; 
  background-color: rgb(231,231,231);
  text-align: center;
  margin: 40px 0;
  color: rgb(119,119,119);
}

.divider_text {
  background-color: white; 
  position: relative; 
  top: -0.8em; 
  width: 40px;
  display: inline-block;
}

h1#home_title {
  letter-spacing: -1px;
}

h1#login_site_title, h1#signup_title  {
  margin-bottom: 40px;
  letter-spacing: -1px;
}


a#home_signup_button {
  margin: 50px 0;
}

.jumbotron {
  // background-color: white;
  text-align: center;
}

.new_event_category {
  padding: 0;
}

#dinner_cat_button, #drinks_cat_button {
  border-radius: 0;
  border: 0;
  height: 100px;
  line-height: 4.4;
}

// #dinner_cat_button {
//   border: 2px solid rgb(66,139,202);
// }

// #drinks_cat_button {
//   border: 2px solid rgb(217,83,79);
// }

#datepicker {
  width: 100%;
  input.form-control {
    height: 60px;
  }
}

#start_time {
  input.form-control {
    height: 60px;
    text-align: center;
  }
}

.event_date_row {
  border-bottom: 1px solid rgb(231,231,231);

}

.date_option {
  width: 50%;
}
#event_suggestion_heading {
  #event_title {
    float: left;
  }
  #event_settings_group {
    margin-top: 20px;
  }
  margin-bottom: 20px;
}

#when_where_content {
  margin-bottom: 25px;
}


.list_icon {
  float: left;
}

.list_date {
  float: right;

}

#venue_index {
  h3#venue_index_heading {
    margin-bottom: 25px;
  }
  margin-bottom: 40px;
  .row {
    border: 1px solid rgb(231,231,231);
    padding: 15px 5px;
    margin-left: 0;
    margin-right: 0;
    .event_venue_name {
      padding: 0;
      font-size: 1.3em;
    }

  }
}

p#add_venue {
  font-size: 1.4em;
  cursor: pointer;
  color: rgb(65,138,200);
  margin: 20px 0;
}

form#new_event_venue {
  display: none;
  margin-bottom: 15px;
}

h3#events_index_heading {
  margin-bottom: 25px;
}

p#invitee {
  display: inline-block;
  margin-right: 10px;
}
