// Place all the styles related to the event_suggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_event_suggestion div, form.edit_event_suggestion div {
  margin: 10px 0;
  input[type="radio"]:checked+label, input[type="checkbox"]:checked+label{
    background-color: rgb(66,139,202);
    color: white;
  }
}

form#new_user, form#edit_user{
  margin: 30px 0;
  .checkbox input[type=checkbox] {
    margin-left: 0;
  }
}

form#new_user, form#edit_user {
  margin-bottom: 30px;
}

form#new_user ~ a, form#edit_user ~ a {
  display: block;
  margin: 10px 0;
}

input[type=submit] {
  margin-top: 10px;
  padding: 9px 18px;
}

.list-inline > li {
  padding: 0;
}